.home{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //height: inherit;
  background: steelblue;
  .homeBody{
    *{
      border-radius: 4px;
    }
    display: flex;
    flex-grow: 1;
    #map, #map2{
      display: flex;
      flex-grow: 1;
      width: 70%;
    }
    .panel{
      display: flex;
      flex-direction: column;
      height: 80%;
      padding: 20px;
      overflow: scroll;
      #renderRoute, #renderRoute2{
        height: 70%;
        overflow: scroll;
        flex-grow: 1;
        width: 100%;
      }
    }
    .renderRoute, .renderRoute2{
      background-color: lightsteelblue;
      padding: 20px;
    }
  }
}
