.routeFormWrapper{
  *{
    //border-radius: 4px;
    //border: solid red 2px;
    //color: yellow;
  }
  background: steelblue;
  min-width: 20%;
  padding: 10px;
  color: navajowhite;
  h2{
    text-align: center;
    padding: 20px;
  }

  form{
    display: flex;
    flex-direction: column;
    .inputs{
      input{
        margin: 2px 0 2px 0;
        border: none;
        font-size: inherit;
        padding: 5px;
      }
      display: flex;
      flex-direction: column;
      .origin, .destination{
        display: flex;
        flex-direction: column;
        margin: 5px;
      }
    }

    .radioButtons{
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .mainP{
        display: flex;
        align-items: flex-start;
        margin: 10px;
      }
    }

    button{
      margin: 5px;
      width: fit-content;
      align-self: flex-end;
      padding: 8px;
      background: cornflowerblue;
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
    }
  }

}
